---
title: Schedule
permalink: /schedule/
layout: page
---

<div class="schedule-wrapper">
  <div class="schedule">
    <div class="schedule-header">
      <h1>sirM1ster Schedule</h1>
      <span>{{ site.data.schedule.daterange.first }} - {{ site.data.schedule.daterange.last }}</span>
    </div>
    <div class="schedule-roster">
      {% for days in site.data.schedule.days %}
        {% if days.streaming == true %}
        <div class="roster-day">
          <div class="day-name">
            <span>{{ days.day }}</span>
          </div>
          <div class="day-times">
            <span>{{ days.times.start }} - {{ days.times.end }}</span>
          </div>
          <div class="day-content">
            <img src="/assets/images/thumbnails/game/{{ days.content }}.png" srcset="/assets/images/thumbnails/game/{{ days.content }}@2x.png 2x">
          </div>
        </div>
        {% else %}
        <div class="roster-day no-stream">
          <div class="day-name">
            <span>{{ days.day }}</span>
          </div>
          <div class="day-times">
            <span>No stream</span>
          </div>
          <div class="day-content">
            <img src="/assets/images/thumbnails/game/no-stream.png" srcset="/assets/images/thumbnails/game/no-stream@2x.png 2x">
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="footnote">
      <span>{{ site.data.schedule.footnote }}</span>
    </div>
  </div>

</div>

