<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include google-tagmanager-body.html -%}

    <div class="page-layout">

      {%- include header.html -%}

      {{ content }}

      {%- include footer.html -%}

    </div>

    <div class="hiatus-wrapper">
      <div id="hiatus">
        <span class="h3">On Break</span>
        <span class="subtitle">Temporary offline until further notice</span>
      </div>
    </div>

    <!-- <script src="https://code.responsivevoice.org/responsivevoice.js?key=DlEauekD"></script> -->

  </body>

</html>
