* {
  box-sizing: border-box;
}
html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
}
ul, ol {
  list-style: none;
}
ul, ol, li {
  padding: 0;
  margin: 0;
}


.frame {
  padding: 2px;
  background: #000000;
  box-shadow:
    1px 1px 0 #202020,
    2px 2px 0 #202020,
    3px 3px 0 #202020,
    4px 4px 0 #202020,
    4px 4px 4px rgba(0,0,0,0.8);
  margin-right: 4px;
}
.frame-border {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 2px;
  display: flex;
}

/* Progress Bar */

.progress-fill {
  background-color: #327BCA;
  z-index: 1;
  overflow: hidden;
}

.goal-progress.frame {
  width: calc(100vw - 4px); /*824px*/
  height: calc(100vh - 4px); /*84px*/
  padding: 4px;
  margin-right: 0;
}
.goal-progress .progress-bar {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  box-shadow: inset 4px 4px 0 #6E7A7E;
  overflow: hidden;
}
.goal-progress .frame-border {
  padding: 4px;
  position: relative;
}
.progress-bar-low {
  background-color: #DDF5FE;
}
.goal-progress .progress-fill {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.text-wrapper {
  width: calc(100vw - 40px);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
}
.text-label {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 16px;

}
.text-label {
  z-index: 0;
  color: #202020;
}
.text-label-top {
  z-index: 2;
  color: #fff;
}
.progress-unit {
  text-transform: capitalize;
}


/* Top Donations */

.top-donations {
  color: #fff;
  padding: 0 0.2rem;
}
#title {
  margin: 0 0 0.4rem 0;
  font-size: 1.4rem;
  text-shadow: 1px 1px 2px rgba(0,0,0,1);
  box-shadow: 0 1px 0 #fff;
}
.top-donations ol {
  list-style: decimal inside;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}
.top-donations li {
  line-height: 36px;
  display: flex;
  justify-content: space-between;
  text-shadow: 1px 1px 2px rgba(0,0,0,1);
}
.top-donations li:first-child {
  font-size: 1.4rem;
}
.donations-list {
  display: flex;
  align-items: stretch;
  height: 100%;
}

/* Milestones */
.milestones {
  height: 100%;
  display: flex;
  align-items: stretch;
  padding: 0 0.2rem;
}
.milestones .frame {
  margin: 7px 4px 9px 0;
  flex: 0;
}

.milestones .progress-bar {
  width: 2rem;
  position: relative;
}
.milestones .progress-bg,
.milestones .progress-fill {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  background-color: transparent;
}
.milestones .progress-bg {
  z-index: 1;
}
.milestones .progress-fill {
  z-index: 2;
}
.milestones .progress-sections {
  display: grid;
  grid-template-rows: 25% 25% 12.5% 12.5% 12.5% 7.5% 1fr;
  height: 100%;
  width: 100%;
}
.milestones .progress-bg .progress-part {
  box-shadow: inset 0 2px 0 #000;
}
.milestones .progress-fill .progress-part {
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.75);
}
.milestones .progress-part:first-child {
  box-shadow: none;
}
.milestones .progress-fill .progress-sections {
  position: relative;
  z-index: 4;
}
.milestones .progress-fill-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: #327BCA;
  z-index: 3;
}
.milestones .labels {
  display: grid;
  grid-template-rows: 5% 22% 24% 12.5% 12% 12% 7.5% 1fr;
  padding-left: 4px;
  font-size: 0.8rem;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,1);
  flex: 1;
}
.milestones .label {
  display: flex;
  align-items: flex-end;
}
.milestones .amount {
  width: 3rem;
}
.milestones .label:first-child {
  align-items: flex-start;
}
