* {
  box-sizing: border-box;
}
html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
}
ul, ol {
  list-style: none;
}
ul, ol, li {
  padding: 0;
  margin: 0;
}


.frame {
  width: calc(100vw - 4px); /*824px*/
  height: calc(100vh - 4px); /*84px*/
  padding: 4px;
  background: #000000;
  box-shadow:
    1px 1px 0 #202020,
    2px 2px 0 #202020,
    3px 3px 0 #202020,
    4px 4px 0 #202020;
}
.frame-border {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 4px;
  position: relative;
}

/* Progress Bar */

.progress-bar {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  overflow: hidden;
  box-shadow: inset 4px 4px 0 #6E7A7E;
}
.progress-bar-low {
  background-color: #DDF5FE;
}
.progress {
  background-color: #327BCA;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;

}
.text-wrapper {
  width: calc(100vw - 40px);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
}
.text-label {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 16px;

}
.text-label {
  z-index: 0;
  color: #202020;
}
.text-label-top {
  z-index: 2;
  color: #fff;
}
.progress-unit {
  text-transform: capitalize;
}


/* Top Donations */

.top-donations .frame-border {
  background-color: #000;
}
.top-donations ol {
  list-style: decimal inside;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}
.top-donations li {
  color: #fff;
  box-shadow: 0 1px 0 #666;
  line-height: 36px;
  display: flex;
  justify-content: space-between;
}
.top-donations li:first-child {
  font-size: 1.4rem;
}
.donations-list {
  display: flex;
  align-items: stretch;
  height: 100%;
}
